USE [master]
GO
/****** Object:  Database [WMS]    Script Date: 7/05/2026 10:27:30 PM ******/
CREATE DATABASE [WMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\WMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\WMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WMS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdjustmentReasons]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdjustmentReasons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AdjustmentReasons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalLogs]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApprovalId] [int] NULL,
	[Action] [nvarchar](20) NULL,
	[ActionBy] [int] NULL,
	[ActionAt] [datetime2](7) NULL,
	[Comment] [nvarchar](255) NULL,
 CONSTRAINT [PK__Approval__3214EC079D570F04] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Approvals]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approvals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefType] [nvarchar](50) NULL,
	[RefId] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[CurrentStep] [int] NULL,
 CONSTRAINT [PK__Approval__3214EC079EEA8943] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bins]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[WarehouseId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Bins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ParentId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Categori__3214EC07CCCEB394] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InboundItems]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InboundItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InboundRequestId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[ReceivedQuantity] [decimal](18, 2) NULL,
	[StoragePosition] [nvarchar](100) NULL,
	[LineNote] [nvarchar](255) NULL,
	[UnitId] [int] NOT NULL,
 CONSTRAINT [PK__InboundI__3214EC075798DABA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InboundRequests]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InboundRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [nvarchar](50) NULL,
	[SupplierName] [nvarchar](150) NULL,
	[Status] [nvarchar](20) NULL,
	[Note] [nvarchar](255) NULL,
	[WarehouseId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__InboundR__3214EC07AF35A290] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[StoragePosition] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Inventor__3214EC07F523929A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutboundItems]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutboundItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OutboundRequestId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[PickedQuantity] [decimal](18, 2) NULL,
	[StoragePosition] [nvarchar](100) NULL,
	[LineNote] [nvarchar](255) NULL,
	[UnitId] [int] NULL,
 CONSTRAINT [PK__Outbound__3214EC0700E162EE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutboundRequests]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutboundRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](150) NULL,
	[Status] [nvarchar](20) NULL,
	[Note] [nvarchar](255) NULL,
	[WarehouseId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ApprovedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Outbound__3214EC0780210F71] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[BaseUnitId] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Products__3214EC072D8DC5C3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Roles__3214EC0783C615EE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockCountItems]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockCountItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StockCountSessionId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[StoragePosition] [nvarchar](100) NULL,
	[SystemQuantity] [decimal](18, 2) NOT NULL,
	[ActualQuantity] [decimal](18, 2) NULL,
	[Difference] [decimal](18, 2) NULL,
	[ReasonId] [int] NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK_StockCountItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockCountSessions]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockCountSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountNo] [nvarchar](50) NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedBy] [int] NOT NULL,
	[ApprovedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ApprovedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_StockCountSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[QuantityChange] [decimal](18, 2) NOT NULL,
	[StoragePosition] [nvarchar](100) NULL,
	[RefType] [nvarchar](50) NULL,
	[RefId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__StockMov__3214EC072F62B318] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTransferItems]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransferItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StockTransferRequestId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[ReceivedQuantity] [decimal](18, 2) NULL,
	[FromStoragePosition] [nvarchar](100) NULL,
	[ShippedQuantity] [decimal](18, 2) NULL,
	[ToStoragePosition] [nvarchar](100) NULL,
	[UnitId] [int] NOT NULL,
	[LineNote] [nvarchar](255) NULL,
 CONSTRAINT [PK__StockTra__3214EC07B8B4D4CA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTransferRequests]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransferRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransferNo] [nvarchar](50) NOT NULL,
	[FromWarehouseId] [int] NOT NULL,
	[ToWarehouseId] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedBy] [int] NOT NULL,
	[ApprovedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__StockTra__3214EC07DE6315E3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitConversions]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitConversions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[BaseUnitId] [int] NOT NULL,
	[FromUnitId] [int] NOT NULL,
	[ConversionFactor] [decimal](18, 6) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__UnitConv__3214EC07806BF8FC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsBaseUnit] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Units__3214EC07DF9EB686] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK__UserRole__AF2760ADE460EA6E] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[WarehouseId] [int] NULL,
 CONSTRAINT [PK__Users__3214EC071C4F9126] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 7/05/2026 10:27:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Warehous__3214EC0768FE66B8] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApprovalLogs_ActionBy]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_ApprovalLogs_ActionBy] ON [dbo].[ApprovalLogs]
(
	[ActionBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApprovalLogs_ApprovalId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_ApprovalLogs_ApprovalId] ON [dbo].[ApprovalLogs]
(
	[ApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bins_Code_WarehouseId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Bins_Code_WarehouseId] ON [dbo].[Bins]
(
	[Code] ASC,
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bins_WarehouseId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bins_WarehouseId] ON [dbo].[Bins]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_ParentId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Categories_ParentId] ON [dbo].[Categories]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InboundItems_InboundRequestId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_InboundItems_InboundRequestId] ON [dbo].[InboundItems]
(
	[InboundRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InboundItems_ProductId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_InboundItems_ProductId] ON [dbo].[InboundItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InboundItems_UnitId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_InboundItems_UnitId] ON [dbo].[InboundItems]
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InboundRequests_ApprovedBy]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_InboundRequests_ApprovedBy] ON [dbo].[InboundRequests]
(
	[ApprovedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InboundRequests_CreatedBy]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_InboundRequests_CreatedBy] ON [dbo].[InboundRequests]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InboundRequests_WarehouseId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_InboundRequests_WarehouseId] ON [dbo].[InboundRequests]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__InboundR__33A869A4045CBE22]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__InboundR__33A869A4045CBE22] ON [dbo].[InboundRequests]
(
	[RequestNo] ASC
)
WHERE ([RequestNo] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventories_WarehouseId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Inventories_WarehouseId] ON [dbo].[Inventories]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Product_Warehouse_Bin]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Product_Warehouse_Bin] ON [dbo].[Inventories]
(
	[ProductId] ASC,
	[WarehouseId] ASC,
	[StoragePosition] ASC
)
WHERE ([StoragePosition] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OutboundItems_OutboundRequestId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_OutboundItems_OutboundRequestId] ON [dbo].[OutboundItems]
(
	[OutboundRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OutboundItems_ProductId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_OutboundItems_ProductId] ON [dbo].[OutboundItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OutboundItems_UnitId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_OutboundItems_UnitId] ON [dbo].[OutboundItems]
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OutboundRequests_ApprovedBy]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_OutboundRequests_ApprovedBy] ON [dbo].[OutboundRequests]
(
	[ApprovedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OutboundRequests_CreatedBy]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_OutboundRequests_CreatedBy] ON [dbo].[OutboundRequests]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OutboundRequests_WarehouseId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_OutboundRequests_WarehouseId] ON [dbo].[OutboundRequests]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Outbound__33A869A40FF14DA6]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Outbound__33A869A40FF14DA6] ON [dbo].[OutboundRequests]
(
	[RequestNo] ASC
)
WHERE ([RequestNo] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_BaseUnitId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_BaseUnitId] ON [dbo].[Products]
(
	[BaseUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__CA1ECF0D3196D262]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Products__CA1ECF0D3196D262] ON [dbo].[Products]
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F6625A8735]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Roles__737584F6625A8735] ON [dbo].[Roles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockCountItems_ProductId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockCountItems_ProductId] ON [dbo].[StockCountItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockCountItems_ReasonId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockCountItems_ReasonId] ON [dbo].[StockCountItems]
(
	[ReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StockCountItems_StockCountSessionId_ProductId_StoragePosition]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StockCountItems_StockCountSessionId_ProductId_StoragePosition] ON [dbo].[StockCountItems]
(
	[StockCountSessionId] ASC,
	[ProductId] ASC,
	[StoragePosition] ASC
)
WHERE ([StoragePosition] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockCountSessions_ApprovedBy]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockCountSessions_ApprovedBy] ON [dbo].[StockCountSessions]
(
	[ApprovedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StockCountSessions_CountNo]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StockCountSessions_CountNo] ON [dbo].[StockCountSessions]
(
	[CountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockCountSessions_CreatedBy]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockCountSessions_CreatedBy] ON [dbo].[StockCountSessions]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockCountSessions_WarehouseId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockCountSessions_WarehouseId] ON [dbo].[StockCountSessions]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockMovements_ProductId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockMovements_ProductId] ON [dbo].[StockMovements]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockMovements_WarehouseId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockMovements_WarehouseId] ON [dbo].[StockMovements]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransferItems_ProductId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockTransferItems_ProductId] ON [dbo].[StockTransferItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransferItems_StockTransferRequestId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockTransferItems_StockTransferRequestId] ON [dbo].[StockTransferItems]
(
	[StockTransferRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransferItems_UnitId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockTransferItems_UnitId] ON [dbo].[StockTransferItems]
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransferRequests_ApprovedBy]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockTransferRequests_ApprovedBy] ON [dbo].[StockTransferRequests]
(
	[ApprovedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransferRequests_CreatedBy]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockTransferRequests_CreatedBy] ON [dbo].[StockTransferRequests]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransferRequests_FromWarehouseId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockTransferRequests_FromWarehouseId] ON [dbo].[StockTransferRequests]
(
	[FromWarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockTransferRequests_ToWarehouseId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockTransferRequests_ToWarehouseId] ON [dbo].[StockTransferRequests]
(
	[ToWarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__StockTra__9548BE629861B165]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__StockTra__9548BE629861B165] ON [dbo].[StockTransferRequests]
(
	[TransferNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitConversions_BaseUnitId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnitConversions_BaseUnitId] ON [dbo].[UnitConversions]
(
	[BaseUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnitConversions_FromUnitId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnitConversions_FromUnitId] ON [dbo].[UnitConversions]
(
	[FromUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Product_FromUnit]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Product_FromUnit] ON [dbo].[UnitConversions]
(
	[ProductId] ASC,
	[FromUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Units__A25C5AA767180E21]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Units__A25C5AA767180E21] ON [dbo].[Units]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_WarehouseId]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_WarehouseId] ON [dbo].[Users]
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4A48DD635]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Users__536C85E4A48DD635] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Warehous__A25C5AA7BBD28221]    Script Date: 7/05/2026 10:27:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Warehous__A25C5AA7BBD28221] ON [dbo].[Warehouses]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApprovalLogs] ADD  DEFAULT (sysdatetime()) FOR [ActionAt]
GO
ALTER TABLE [dbo].[Bins] ADD  DEFAULT (N'Available') FOR [Status]
GO
ALTER TABLE [dbo].[Bins] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InboundRequests] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[OutboundRequests] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockCountSessions] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockMovements] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockTransferRequests] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UnitConversions] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[UnitConversions] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Units] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Warehouses] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ApprovalLogs]  WITH CHECK ADD  CONSTRAINT [FK__ApprovalL__Actio__0A9D95DB] FOREIGN KEY([ActionBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ApprovalLogs] CHECK CONSTRAINT [FK__ApprovalL__Actio__0A9D95DB]
GO
ALTER TABLE [dbo].[ApprovalLogs]  WITH CHECK ADD  CONSTRAINT [FK__ApprovalL__Appro__09A971A2] FOREIGN KEY([ApprovalId])
REFERENCES [dbo].[Approvals] ([Id])
GO
ALTER TABLE [dbo].[ApprovalLogs] CHECK CONSTRAINT [FK__ApprovalL__Appro__09A971A2]
GO
ALTER TABLE [dbo].[Bins]  WITH CHECK ADD  CONSTRAINT [FK_Bins_Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[Bins] CHECK CONSTRAINT [FK_Bins_Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK__Categorie__Paren__46E78A0C] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK__Categorie__Paren__46E78A0C]
GO
ALTER TABLE [dbo].[InboundItems]  WITH CHECK ADD  CONSTRAINT [FK__InboundIt__Inbou__6D0D32F4] FOREIGN KEY([InboundRequestId])
REFERENCES [dbo].[InboundRequests] ([Id])
GO
ALTER TABLE [dbo].[InboundItems] CHECK CONSTRAINT [FK__InboundIt__Inbou__6D0D32F4]
GO
ALTER TABLE [dbo].[InboundItems]  WITH CHECK ADD  CONSTRAINT [FK__InboundIt__Produ__6E01572D] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InboundItems] CHECK CONSTRAINT [FK__InboundIt__Produ__6E01572D]
GO
ALTER TABLE [dbo].[InboundItems]  WITH CHECK ADD  CONSTRAINT [FK_InboundItems_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Units] ([Id])
GO
ALTER TABLE [dbo].[InboundItems] CHECK CONSTRAINT [FK_InboundItems_Unit]
GO
ALTER TABLE [dbo].[InboundRequests]  WITH CHECK ADD  CONSTRAINT [FK__InboundRe__Appro__6A30C649] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InboundRequests] CHECK CONSTRAINT [FK__InboundRe__Appro__6A30C649]
GO
ALTER TABLE [dbo].[InboundRequests]  WITH CHECK ADD  CONSTRAINT [FK__InboundRe__Creat__693CA210] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InboundRequests] CHECK CONSTRAINT [FK__InboundRe__Creat__693CA210]
GO
ALTER TABLE [dbo].[InboundRequests]  WITH CHECK ADD  CONSTRAINT [FK__InboundRe__Wareh__68487DD7] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[InboundRequests] CHECK CONSTRAINT [FK__InboundRe__Wareh__68487DD7]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK__Inventori__Produ__5DCAEF64] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK__Inventori__Produ__5DCAEF64]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK__Inventori__Wareh__5EBF139D] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK__Inventori__Wareh__5EBF139D]
GO
ALTER TABLE [dbo].[OutboundItems]  WITH CHECK ADD  CONSTRAINT [FK__OutboundI__Outbo__778AC167] FOREIGN KEY([OutboundRequestId])
REFERENCES [dbo].[OutboundRequests] ([Id])
GO
ALTER TABLE [dbo].[OutboundItems] CHECK CONSTRAINT [FK__OutboundI__Outbo__778AC167]
GO
ALTER TABLE [dbo].[OutboundItems]  WITH CHECK ADD  CONSTRAINT [FK__OutboundI__Produ__787EE5A0] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OutboundItems] CHECK CONSTRAINT [FK__OutboundI__Produ__787EE5A0]
GO
ALTER TABLE [dbo].[OutboundItems]  WITH CHECK ADD  CONSTRAINT [FK_OutboundItems_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Units] ([Id])
GO
ALTER TABLE [dbo].[OutboundItems] CHECK CONSTRAINT [FK_OutboundItems_Unit]
GO
ALTER TABLE [dbo].[OutboundRequests]  WITH CHECK ADD  CONSTRAINT [FK__OutboundR__Appro__74AE54BC] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[OutboundRequests] CHECK CONSTRAINT [FK__OutboundR__Appro__74AE54BC]
GO
ALTER TABLE [dbo].[OutboundRequests]  WITH CHECK ADD  CONSTRAINT [FK__OutboundR__Creat__73BA3083] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[OutboundRequests] CHECK CONSTRAINT [FK__OutboundR__Creat__73BA3083]
GO
ALTER TABLE [dbo].[OutboundRequests]  WITH CHECK ADD  CONSTRAINT [FK__OutboundR__Wareh__72C60C4A] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[OutboundRequests] CHECK CONSTRAINT [FK__OutboundR__Wareh__72C60C4A]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__Catego__5165187F] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__Catego__5165187F]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_BaseUnit] FOREIGN KEY([BaseUnitId])
REFERENCES [dbo].[Units] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_BaseUnit]
GO
ALTER TABLE [dbo].[StockCountItems]  WITH CHECK ADD  CONSTRAINT [FK_StockCountItems_AdjustmentReasons_ReasonId] FOREIGN KEY([ReasonId])
REFERENCES [dbo].[AdjustmentReasons] ([Id])
GO
ALTER TABLE [dbo].[StockCountItems] CHECK CONSTRAINT [FK_StockCountItems_AdjustmentReasons_ReasonId]
GO
ALTER TABLE [dbo].[StockCountItems]  WITH CHECK ADD  CONSTRAINT [FK_StockCountItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockCountItems] CHECK CONSTRAINT [FK_StockCountItems_Products_ProductId]
GO
ALTER TABLE [dbo].[StockCountItems]  WITH CHECK ADD  CONSTRAINT [FK_StockCountItems_StockCountSessions_StockCountSessionId] FOREIGN KEY([StockCountSessionId])
REFERENCES [dbo].[StockCountSessions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockCountItems] CHECK CONSTRAINT [FK_StockCountItems_StockCountSessions_StockCountSessionId]
GO
ALTER TABLE [dbo].[StockCountSessions]  WITH CHECK ADD  CONSTRAINT [FK_StockCountSessions_Users_ApprovedBy] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StockCountSessions] CHECK CONSTRAINT [FK_StockCountSessions_Users_ApprovedBy]
GO
ALTER TABLE [dbo].[StockCountSessions]  WITH CHECK ADD  CONSTRAINT [FK_StockCountSessions_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StockCountSessions] CHECK CONSTRAINT [FK_StockCountSessions_Users_CreatedBy]
GO
ALTER TABLE [dbo].[StockCountSessions]  WITH CHECK ADD  CONSTRAINT [FK_StockCountSessions_Warehouses_WarehouseId] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockCountSessions] CHECK CONSTRAINT [FK_StockCountSessions_Warehouses_WarehouseId]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK__StockMove__Produ__628FA481] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK__StockMove__Produ__628FA481]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK__StockMove__Wareh__6383C8BA] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK__StockMove__Wareh__6383C8BA]
GO
ALTER TABLE [dbo].[StockTransferItems]  WITH CHECK ADD  CONSTRAINT [FK__StockTran__Produ__03F0984C] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[StockTransferItems] CHECK CONSTRAINT [FK__StockTran__Produ__03F0984C]
GO
ALTER TABLE [dbo].[StockTransferItems]  WITH CHECK ADD  CONSTRAINT [FK__StockTran__Stock__02FC7413] FOREIGN KEY([StockTransferRequestId])
REFERENCES [dbo].[StockTransferRequests] ([Id])
GO
ALTER TABLE [dbo].[StockTransferItems] CHECK CONSTRAINT [FK__StockTran__Stock__02FC7413]
GO
ALTER TABLE [dbo].[StockTransferItems]  WITH CHECK ADD  CONSTRAINT [FK_StockTransferItems_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Units] ([Id])
GO
ALTER TABLE [dbo].[StockTransferItems] CHECK CONSTRAINT [FK_StockTransferItems_Unit]
GO
ALTER TABLE [dbo].[StockTransferRequests]  WITH CHECK ADD  CONSTRAINT [FK__StockTran__Appro__00200768] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StockTransferRequests] CHECK CONSTRAINT [FK__StockTran__Appro__00200768]
GO
ALTER TABLE [dbo].[StockTransferRequests]  WITH CHECK ADD  CONSTRAINT [FK__StockTran__Creat__7F2BE32F] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StockTransferRequests] CHECK CONSTRAINT [FK__StockTran__Creat__7F2BE32F]
GO
ALTER TABLE [dbo].[StockTransferRequests]  WITH CHECK ADD  CONSTRAINT [FK__StockTran__FromW__7D439ABD] FOREIGN KEY([FromWarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[StockTransferRequests] CHECK CONSTRAINT [FK__StockTran__FromW__7D439ABD]
GO
ALTER TABLE [dbo].[StockTransferRequests]  WITH CHECK ADD  CONSTRAINT [FK__StockTran__ToWar__7E37BEF6] FOREIGN KEY([ToWarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[StockTransferRequests] CHECK CONSTRAINT [FK__StockTran__ToWar__7E37BEF6]
GO
ALTER TABLE [dbo].[UnitConversions]  WITH CHECK ADD  CONSTRAINT [FK_UnitConversions_BaseUnit] FOREIGN KEY([BaseUnitId])
REFERENCES [dbo].[Units] ([Id])
GO
ALTER TABLE [dbo].[UnitConversions] CHECK CONSTRAINT [FK_UnitConversions_BaseUnit]
GO
ALTER TABLE [dbo].[UnitConversions]  WITH CHECK ADD  CONSTRAINT [FK_UnitConversions_FromUnit] FOREIGN KEY([FromUnitId])
REFERENCES [dbo].[Units] ([Id])
GO
ALTER TABLE [dbo].[UnitConversions] CHECK CONSTRAINT [FK_UnitConversions_FromUnit]
GO
ALTER TABLE [dbo].[UnitConversions]  WITH CHECK ADD  CONSTRAINT [FK_UnitConversions_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnitConversions] CHECK CONSTRAINT [FK_UnitConversions_Product]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK__UserRoles__RoleI__3F466844] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK__UserRoles__RoleI__3F466844]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK__UserRoles__UserI__3E52440B] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK__UserRoles__UserI__3E52440B]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Warehouse]
GO
USE [master]
GO
