# Build Folders
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.tmp
*.log
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg
packages/

# JetBrains Rider
.idea/

appsettings.json
appsettings.*.json

# OS files
.DS_Store
Thumbs.db

# ASP.NET Core
appsettings.Development.json
wwwroot/lib/